#include <windows.h>

#include "pv.hxx"

ID_PV_ICON ICON "pv.ico"

STRINGTABLE
BEGIN
    ID_PV_STRING_DELETE_FAILED  L"Unable to delete the file, error %d"
    ID_PV_STRING_ROTATE_FAILED  L"Unable to rotate the file"
    ID_PV_STRING_TITLE          L"Photo Viewer (%d of %d) %ws"
    ID_PV_STRING_MAP_URL        L"https://www.google.com/maps/search/?api=1&query=%lf,%lf"
END

ID_PV_POPUPMENU MENU
BEGIN
    POPUP "contextmenu"
    BEGIN
        MENUITEM "&Copy\tCtrl+c",                ID_PV_COPY
        MENUITEM SEPARATOR
        MENUITEM "&Delete\tCtrl+d",              ID_PV_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Next\tn",                     ID_PV_NEXT
        MENUITEM "&Previous\tp",                 ID_PV_PREVIOUS
        MENUITEM SEPARATOR
        MENUITEM "Show/Hide &Information\ti",    ID_PV_INFORMATION
        MENUITEM "&Map Location\tm",             ID_PV_MAP
        MENUITEM "Open Folder in &Explorer\te",  ID_PV_OPEN_EXPLORER
        MENUITEM SEPARATOR
        MENUITEM "Enter/Exit &Full Screen\tF11", ID_PV_FULLSCREEN
        MENUITEM SEPARATOR
        MENUITEM "Start/Stop &Slideshow\ts",     ID_PV_SLIDESHOW
        POPUP "Slideshow Delay"
        BEGIN
            MENUITEM "ASAP",       ID_PV_SLIDESHOW_ASAP
            MENUITEM "1 second",   ID_PV_SLIDESHOW_1
            MENUITEM "5 seconds",  ID_PV_SLIDESHOW_5
            MENUITEM "15 seconds", ID_PV_SLIDESHOW_15
            MENUITEM "30 seconds", ID_PV_SLIDESHOW_30
            MENUITEM "1 minute",   ID_PV_SLIDESHOW_60
            MENUITEM "10 minutes", ID_PV_SLIDESHOW_600
        END
#ifdef PV_USE_LIBRAW
        MENUITEM SEPARATOR
        POPUP "RAW Image Handling"
        BEGIN
            MENUITEM "Always process RAW (ignore embedded JPG)",    ID_PV_RAW_ALWAYS
            MENUITEM "Process RAW if the embedded JPG is tiny",     ID_PV_RAW_SMALL_JPG
            MENUITEM "Never process RAW if an embedded JPG exists", ID_PV_RAW_NEVER
        END
#endif // PV_USE_LIBRAW
        MENUITEM SEPARATOR
        POPUP "Sort Images By"
        BEGIN
            MENUITEM "Capture Time",    ID_PV_SORT_CAPTURE
            MENUITEM "Creation Time",   ID_PV_SORT_CREATION
            MENUITEM "Last Write Time", ID_PV_SORT_LASTWRITE
            MENUITEM "Path",            ID_PV_SORT_PATH
        END
        MENUITEM SEPARATOR
        MENUITEM "Rotate &Right\tr", ID_PV_ROTATE_RIGHT
        MENUITEM "Rotate &Left\tl",  ID_PV_ROTATE_LEFT
        MENUITEM SEPARATOR
        MENUITEM "&Help\tF1", ID_PV_HELP
    END
END

ID_PV_HELP_DIALOG DIALOGEX 100, 100, 340, 420
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "Photo Viewer Help"
FONT 10, "MS Shell Dlg 2"
BEGIN
    LTEXT "Usage: pv", ID_PV_HELP_DIALOG_TEXT,  8, 10,  326,  410, SS_NOPREFIX
END


